body {
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(155, 235, 5);
    color:rgb(70, 67, 67);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    margin: 10px;
    height: 2cm;
}

center h3 {
    margin: -1px;
    color:rgb(70, 67, 67);
}

center p {
    margin: 20px;
    font-size:  small;
}

.inputsection{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#squareSide {
    margin-top: 10px;
    outline:none;
    border-radius:20px;
    border-color: rgb(168, 239, 4);
    padding: 10px;
}

#squareSide:focus {
    border: solid rgb(70, 67, 67);
}

button {
    margin-top: 10px;
    background-color: #739072;
    color: black;
    border: none;
    border-radius: 16px;
    padding: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #356b05;
    border:solid rgba(60, 141, 3, 0.95)
}

button:active {
    background-color: #356b05;
    transform: translateY();
}